{% extends 'base.html.twig' %}

{% block title %}Eleve index{% endblock %}

{% block body %}
    <h1>Eleve index</h1>
<div class="container">
    <dic class="row">
        <div class="col-12">
            <table class="table">
        <thead>
            <tr>
                <th class="text-center">Id</th>
                <th class="text-center">Name</th>
                <th class="text-center">Surname</th>
                <th class="text-center">DateNaissance</th>
                <th class="text-center">Photo</th>
                <th class="text-center">Desciption</th>
                <th class="text-center">DateInsriptionAt</th>
                <th class="text-center">actions</th>
            </tr>
        </thead>
        <tbody>
        {% for eleve in eleves %}
            <tr>
                <td class="text-center">{{ eleve.id }}</td>
                <td class="text-center">{{ eleve.name }}</td>
                <td class="text-center">{{ eleve.surname }}</td>
                <td class="text-center">{{ eleve.dateNaissance ? eleve.dateNaissance|date('Y-m-d H:i:s') : '' }}</td>
                <td class="text-center">{{ eleve.photo }}</td>
                <td class="text-center">{{ eleve.desciption }}</td>
                <td class="text-center">{{ eleve.dateInsriptionAt ? eleve.dateInsriptionAt|date('Y-m-d H:i:s') : '' }}</td>
                <td class="text-center">
                    <a href="{{ path('app_eleve_show', {'id': eleve.id}) }}" class="btn btn-info">show</a>
                    <a href="{{ path('app_eleve_edit', {'id': eleve.id}) }}" class="btn btn-success">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
        </div>

    </dic>
</div>


    <a href="{{ path('app_eleve_new') }}">Create new</a>
{% endblock %}
