{% extends 'base.html.twig' %}

{% block title %}Eleve{% endblock %}

{% block body %}
    <h1>Eleve</h1>

    <dic class="row">
        <div class="col-12">
            <table class="table">
        <tbody>
            <tr>
                <th class="text-center">Id</th>
                <td class="text-center">{{ eleve.id }}</td>
            </tr>
            <tr>
                <th class="text-center">Name</th>
                <td class="text-center">{{ eleve.name }}</td>
            </tr>
            <tr>
                <th class="text-center">Surname</th>
                <td class="text-center">{{ eleve.surname }}</td>
            </tr>
            <tr>
                <th class="text-center">DateNaissance</th>
                <td class="text-center">{{ eleve.dateNaissance ? eleve.dateNaissance|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th class="text-center">Photo</th>
                <td class="text-center">{{ eleve.photo }}</td>
            </tr>
            <tr>
                <th class="text-center">Desciption</th>
                <td class="text-center">{{ eleve.desciption }}</td>
            </tr>
            <tr>
                <th class="text-center">DateInsriptionAt</th>
                <td class="text-center">{{ eleve.dateInsriptionAt ? eleve.dateInsriptionAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_eleve_index') }}"  class="btn btn-info">back to list</a>

    <a href="{{ path('app_eleve_edit', {'id': eleve.id}) }}"  class="btn btn-success">edit</a>

    {{ include('eleve/_delete_form.html.twig') }}
{% endblock %}
