{# <div class="col-4 item"> #}
{{ form_row(form.name) }}
{{ form_row(form.surname) }}
{{ form_row(form.dateNaissance) }}
{{ form_row(form.photo) }}
{{ form_row(form.dateInsriptionAt) }}
{{ form_row(form.desciption) }}
{{ form_row(form.gendre) }}
    <div class="form-group">
        <button type="button" class="btn btn-danger btn-remove">Remove</button:button>
    </div>
{# </div> #}
<hr>
